<Config>
  <vStartPos X="111" Y="11" />
  <vStartSize Width="1153" Height="930" />
  <bTreePrjOpen Val="False" />
  <bMaximize Val="False" />
  <RecentList>
    <Recent Path="E:/CpcDos/Test/PUBLIC Cpcdos OSx.ova" />
    <Recent Path="E:/CpcDos/[PUBLIC] Cpcdos OS2.1 Beta 1.3 [01-NOV-2020]/VM/PUBLIC Cpcdos OSx.ova" />
    <Recent Path="E:/CpcDosAss/MyVM/Export.vmx" />
    <Recent Path="E:/MyVM/PUBLIC Cpcdos OSx.ova" />
  </RecentList>
  <ElementList />
</Config>